{% extends "base.html" %}
{% block content %}
    {% for post in posts.items %}
        <article class="media content-section">
            <img class="rounded-circle article-img"
                 src="{{ profile_picture_url(post.author.profile_picture) }}"
                 onerror="this.src='{{ url_for('static', filename='resources/profile_pictures/default_profile_picture.png') }}'">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                    <small class="text-muted">{{ moment(post.date_posted).fromNow() }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('posts.view_post', post_id=post.id) }}">{{ post.title }}</a>
                </h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=3) %}
        {% if page_num %}
            {% if page_num == posts.page %}
                <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}
{% block sidebar_title %}
    <h3>Home</h3>
{% endblock sidebar_title %}
{% block sidebar_description %}
    <p class='text-muted'>Your personal front page at Commentaria.</p>
{% endblock sidebar_description %}
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}